<div class="list-user-wrapper m-5">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h4 class="text-center pb-3">List Users</h4>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <button type="button" class="btn btn-outline-success m-1">Edit</button>
            <button type="button" class="btn btn-outline-danger m-1">Delete</button>
        </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>asdasd</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>asdasd</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
